<!-- templates/home.html -->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  Hi {{ user.username }}!
    <a href="{% url 'logout' %}">Log Out</a>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Log In</a>
{% endif %}
    <h1>Data View</h1>
    {% if project_data %}
    <ul>
    {# project_data #}
<table border = "1">
<tr>
    <th>Category</th>
    <th>Record Date</th>
    <th>Project Name</th>
    <th>Project Description</th>
    <th>Rate</th>
    <th>Hours</th>
    <th>Dollars</th>
    <th>Actions</th>
</tr>
    {% for project in project_data %}
    <tr>
    <td>{{ project.category }}</td>
    <td>{{ project.record_date }}</td>
    <td>{{ project.project_name }}</td>
    <td>{{ project.description }}</td>
    <td>{{ project.rate }}</td>
    <td>{{ project.hours }}</td>
    <td>{{ project.dollars }}</td>
    <td>
    <a href="/dashboard/{{ project.id }}/">Show</a>
    <a href="/dashboard/{{ project.id }}/">Edit</a>
    <a href="/dashboard/{{ project.id }}/">Delete</a>
    </td>
    </tr>
    {% endfor %}

    </ul>
</table>
{% else %}
    <p>No project records are available.</p>
{% endif %}
{% endblock %}